black==26.1.0
bumpversion
flake8
numpy
py
pytest
pytest-benchmark
pytest-cov
pytest-benchmark[histogram]
setuptools
pygal
pygaljs
scikit-image
torch; sys_platform != 'darwin' or platform_machine != 'x86_64'
torchvision; sys_platform != 'darwin' or platform_machine != 'x86_64'
